__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
.DS_Store

benchmarks/input_examples.json
benchmarks/output_examples.json
tests/input_scanners/test_secrets.py